---
import Layout from "../layout/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout title="View Transition API">
	<main
		class="mx-auto max-w-[300px] min-[450px]:max-w-[400px] sm:max-w-[550px] md:max-w-[650px] lg:max-w-[900px]">
		<Title />
	</main>
</Layout>
